<!DOCTYPE html>
<html>
<head>
  <title>Cats99</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= csrf_meta_tags %>
</head>

<body>

  <div align="right">

    <% if current_user.nil? %>
      <%= link_to "Please sign-up!", new_user_url %>
      <!-- <a href="<%#= new_user_url %>"> Please sign-up! </a> -->

    <% else %>
      <%= current_user.user_name %>
      <form action="<%= session_url %>" method="POST">

        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">

        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout!">
      </form>
    <% end %>
  </div>


<%= yield %>

</body>
</html>
