<% action_url = request.persisted? ? cat_rental_request_url(request) : cat_rental_requests_url %>
<% form_method = request.persisted? ? "PATCH" : "POST" %>
<% submit_text = request.persisted? ? "Update rental request!" : "Create rental request!" %>

<h2><%= request.persisted? ? "Edit #{request.id}" : "Make a new request" %></h2>

<form action="<%= action_url %>" method="post">

  <input type="hidden" name="_method" value="<%= form_method %>">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="requested_cat">Name of Cat U Want</label>
  <select name="cat_rental_request[cat_id]" id="requested_cat">

    <% Cat.all.each do |cat| %>
    <option value="<%= cat.id %>"<%= "selected" if (request.cat_id == cat.id)%> > <%= cat.name.capitalize %> </option>
    <% end %>

  </select>
  <br>

  <label for="start_date">Pick up date</label>
  <input name="cat_rental_request[start_date]" id="start_date" type="date" value="<%= request.start_date %>">

  <label for="end_date">Drop off date</label>
  <input name="cat_rental_request[end_date]" id="end_date" type="date" value="<%= request.end_date %>">

  <input type="submit" value="<%= submit_text %>">

</form>
